        <ul id="mainnav">
            <li>
                <a href="/post/">
                <span class="icon"> <i aria-hidden="true" class="fa fa-cogs"></i></span>
                <span> blog </span>
            </a>
            </li>
            <li>
            <a href="/topics/">
                <span class="icon"> <i aria-hidden="true" class="fa fa-modx"></i></span>
                <span> category </span>
            </a>
            </li>
            <li>
            <a href="/about/">
                <span class="icon"> <i aria-hidden="true" class="fa fa-user-secret"></i></span>
                <span> me </span>
            </a>
            </li>
        </ul>
